.heading {
  font-size: 450%;
  text-align: center;
  color:orangered;
}

.subhead {
  text-align: center;
}

.container{
  padding: 25px;
}

.navigator{
  border-style: outset;
  text-align: center;
  border: 2px, blue;
  margin: 10px;
  padding: 5px;
}

.history{
  padding: 5%;
  font-size: 140%;
}

.highlight{
  font-weight: bold;
  color:orangered;
}