.heading {
  font-size: 450%;
  text-align: center;
  color:orangered;
}

.subhead {
  text-align: center;
}

.container{
  padding: 25px;
}

.navigator{
  border-style: outset;
  text-align: center;
  border: 2px, blue;
  margin: 10px;
  padding: 5px;
}

.history{
  padding: 5%;
  font-size: 140%;
}

.highlight{
  font-weight: bold;
  color:orangered;
}

.photo{
  border-style: inset;
  display: block;
  border: 30px, black;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  width: 50px;
  height: auto;
}

.projects{
  color: black;
}

.animation{
  animation-duration: 7s;
  animation-name: slidein;
  margin-left: 40%;
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 0%
  }

  to {
    margin-right: 100%;
    width: 0%;
  }
}